Fincal/Connected Services/Dataservice/Datamanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Datamanagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19036/Datamanagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19036/Datamanagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19036/Datamanagement.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatamanagement_inserttask_InputMessage">
    <wsdl:part name="parameters" element="tns:inserttask" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_inserttask_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserttaskResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletetask_InputMessage">
    <wsdl:part name="parameters" element="tns:deletetask" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletetask_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletetaskResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettaskcat_InputMessage">
    <wsdl:part name="parameters" element="tns:gettaskcat" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettaskcat_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettaskcatResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettask_InputMessage">
    <wsdl:part name="parameters" element="tns:gettask" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettask_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettaskResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatetask_InputMessage">
    <wsdl:part name="parameters" element="tns:updatetask" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatetask_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatetaskResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_checktasks_InputMessage">
    <wsdl:part name="parameters" element="tns:checktasks" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_checktasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:checktasksResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettaskids_InputMessage">
    <wsdl:part name="parameters" element="tns:gettaskids" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_gettaskids_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettaskidsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertevent_InputMessage">
    <wsdl:part name="parameters" element="tns:insertevent" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertevent_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserteventResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateevent_InputMessage">
    <wsdl:part name="parameters" element="tns:updateevent" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateevent_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateeventResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_checkevents_InputMessage">
    <wsdl:part name="parameters" element="tns:checkevents" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_checkevents_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkeventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteevent_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteevent" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteevent_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteeventResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getevent_InputMessage">
    <wsdl:part name="parameters" element="tns:getevent" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getevent_OutputMessage">
    <wsdl:part name="parameters" element="tns:geteventResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteeventpics_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteeventpics" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteeventpics_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteeventpicsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventids_InputMessage">
    <wsdl:part name="parameters" element="tns:geteventids" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventids_OutputMessage">
    <wsdl:part name="parameters" element="tns:geteventidsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_inserteventpic_InputMessage">
    <wsdl:part name="parameters" element="tns:inserteventpic" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_inserteventpic_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserteventpicResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventpics_InputMessage">
    <wsdl:part name="parameters" element="tns:geteventpics" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventpics_OutputMessage">
    <wsdl:part name="parameters" element="tns:geteventpicsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventfirstpics_InputMessage">
    <wsdl:part name="parameters" element="tns:geteventfirstpics" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_geteventfirstpics_OutputMessage">
    <wsdl:part name="parameters" element="tns:geteventfirstpicsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertpicture_InputMessage">
    <wsdl:part name="parameters" element="tns:insertpicture" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertpicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertpictureResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletepicture_InputMessage">
    <wsdl:part name="parameters" element="tns:deletepicture" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletepicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletepictureResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteallpictures_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteallpictures" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteallpictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteallpicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getalluserpictures_InputMessage">
    <wsdl:part name="parameters" element="tns:getalluserpictures" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getalluserpictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:getalluserpicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getpic_InputMessage">
    <wsdl:part name="parameters" element="tns:getpic" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getpic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getpicResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatepic_InputMessage">
    <wsdl:part name="parameters" element="tns:updatepic" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatepic_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatepicResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getfewpics_InputMessage">
    <wsdl:part name="parameters" element="tns:getfewpics" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getfewpics_OutputMessage">
    <wsdl:part name="parameters" element="tns:getfewpicsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertsechedule_InputMessage">
    <wsdl:part name="parameters" element="tns:insertsechedule" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertsechedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertsecheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteschedule_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteschedule" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteschedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletescheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateschedule_InputMessage">
    <wsdl:part name="parameters" element="tns:updateschedule" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateschedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatescheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getskills_InputMessage">
    <wsdl:part name="parameters" element="tns:getskills" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getskills_OutputMessage">
    <wsdl:part name="parameters" element="tns:getskillsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getassignedprojects_InputMessage">
    <wsdl:part name="parameters" element="tns:getassignedprojects" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getassignedprojects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getassignedprojectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectdetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojectdetails" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectdetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojectdetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojects_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojects" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_createproject_InputMessage">
    <wsdl:part name="parameters" element="tns:createproject" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_createproject_OutputMessage">
    <wsdl:part name="parameters" element="tns:createprojectResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateproject_InputMessage">
    <wsdl:part name="parameters" element="tns:updateproject" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateproject_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateprojectResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteproject_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteproject" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteproject_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteprojectResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getassignedissues_InputMessage">
    <wsdl:part name="parameters" element="tns:getassignedissues" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getassignedissues_OutputMessage">
    <wsdl:part name="parameters" element="tns:getassignedissuesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissues_InputMessage">
    <wsdl:part name="parameters" element="tns:getissues" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissues_OutputMessage">
    <wsdl:part name="parameters" element="tns:getissuesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojissues_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojissues" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojissues_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojissuesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuedetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getissuedetails" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuedetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getissuedetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_createissue_InputMessage">
    <wsdl:part name="parameters" element="tns:createissue" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_createissue_OutputMessage">
    <wsdl:part name="parameters" element="tns:createissueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateissue_InputMessage">
    <wsdl:part name="parameters" element="tns:updateissue" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updateissue_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateissueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissue_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteissue" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissue_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteissueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteprojissues_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteprojissues" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteprojissues_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteprojissuesResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_addprojteam_InputMessage">
    <wsdl:part name="parameters" element="tns:addprojteam" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_addprojteam_OutputMessage">
    <wsdl:part name="parameters" element="tns:addprojteamResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteprojteam_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteprojteam" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteprojteam_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteprojteamResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteassiguserfromteam_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteassiguserfromteam" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteassiguserfromteam_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteassiguserfromteamResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectmembers_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojectmembers" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectmembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojectmembersResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_addissteam_InputMessage">
    <wsdl:part name="parameters" element="tns:addissteam" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_addissteam_OutputMessage">
    <wsdl:part name="parameters" element="tns:addissteamResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissteam_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteissteam" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissteam_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteissteamResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteassiguserformissue_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteassiguserformissue" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteassiguserformissue_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteassiguserformissueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuemembers_InputMessage">
    <wsdl:part name="parameters" element="tns:getissuemembers" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuemembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getissuemembersResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojnotification_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojnotification" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojnotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojnotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertprojectnotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:insertprojectnotifications" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertprojectnotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertprojectnotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteporjnotificaiton_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteporjnotificaiton" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteporjnotificaiton_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteporjnotificaitonResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteallprojnotificaion_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteallprojnotificaion" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteallprojnotificaion_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteallprojnotificaionResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuenotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:getissuenotifications" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissuenotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:getissuenotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissuenotification_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteissuenotification" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissuenotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteissuenotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertissuenotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:insertissuenotifications" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertissuenotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertissuenotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getuserinformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getuserinformation" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getuserinformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getuserinformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectleaderinformaion_InputMessage">
    <wsdl:part name="parameters" element="tns:getprojectleaderinformaion" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getprojectleaderinformaion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprojectleaderinformaionResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getspecificuserinformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getspecificuserinformation" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getspecificuserinformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getspecificuserinformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getmeetinginfromations_InputMessage">
    <wsdl:part name="parameters" element="tns:getmeetinginfromations" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getmeetinginfromations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmeetinginfromationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletemeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:deletemeeting" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletemeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletemeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertmeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:insertmeeting" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertmeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertmeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertmeetingmember_InputMessage">
    <wsdl:part name="parameters" element="tns:insertmeetingmember" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertmeetingmember_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertmeetingmemberResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatemetinglink_InputMessage">
    <wsdl:part name="parameters" element="tns:updatemetinglink" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatemetinglink_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatemetinglinkResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatemeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:updatemeeting" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_updatemeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatemeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletemeetingmembers_InputMessage">
    <wsdl:part name="parameters" element="tns:deletemeetingmembers" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletemeetingmembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletemeetingmembersResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletespecificmember_InputMessage">
    <wsdl:part name="parameters" element="tns:deletespecificmember" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deletespecificmember_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletespecificmemberResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertissflag_InputMessage">
    <wsdl:part name="parameters" element="tns:insertissflag" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_insertissflag_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertissflagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissueflags_InputMessage">
    <wsdl:part name="parameters" element="tns:getissueflags" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getissueflags_OutputMessage">
    <wsdl:part name="parameters" element="tns:getissueflagsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissflag_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteissflag" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_deleteissflag_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteissflagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getspecificissflag_InputMessage">
    <wsdl:part name="parameters" element="tns:getspecificissflag" />
  </wsdl:message>
  <wsdl:message name="IDatamanagement_getspecificissflag_OutputMessage">
    <wsdl:part name="parameters" element="tns:getspecificissflagResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatamanagement">
    <wsdl:operation name="inserttask">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/inserttask" message="tns:IDatamanagement_inserttask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/inserttaskResponse" message="tns:IDatamanagement_inserttask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletetask">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deletetask" message="tns:IDatamanagement_deletetask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletetaskResponse" message="tns:IDatamanagement_deletetask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettaskcat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/gettaskcat" message="tns:IDatamanagement_gettaskcat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/gettaskcatResponse" message="tns:IDatamanagement_gettaskcat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettask">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/gettask" message="tns:IDatamanagement_gettask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/gettaskResponse" message="tns:IDatamanagement_gettask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatetask">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updatetask" message="tns:IDatamanagement_updatetask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updatetaskResponse" message="tns:IDatamanagement_updatetask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checktasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/checktasks" message="tns:IDatamanagement_checktasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/checktasksResponse" message="tns:IDatamanagement_checktasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettaskids">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/gettaskids" message="tns:IDatamanagement_gettaskids_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/gettaskidsResponse" message="tns:IDatamanagement_gettaskids_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertevent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertevent" message="tns:IDatamanagement_insertevent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/inserteventResponse" message="tns:IDatamanagement_insertevent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateevent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updateevent" message="tns:IDatamanagement_updateevent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updateeventResponse" message="tns:IDatamanagement_updateevent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkevents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/checkevents" message="tns:IDatamanagement_checkevents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/checkeventsResponse" message="tns:IDatamanagement_checkevents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteevent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteevent" message="tns:IDatamanagement_deleteevent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteeventResponse" message="tns:IDatamanagement_deleteevent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getevent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getevent" message="tns:IDatamanagement_getevent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/geteventResponse" message="tns:IDatamanagement_getevent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteeventpics">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteeventpics" message="tns:IDatamanagement_deleteeventpics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteeventpicsResponse" message="tns:IDatamanagement_deleteeventpics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geteventids">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/geteventids" message="tns:IDatamanagement_geteventids_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/geteventidsResponse" message="tns:IDatamanagement_geteventids_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inserteventpic">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/inserteventpic" message="tns:IDatamanagement_inserteventpic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/inserteventpicResponse" message="tns:IDatamanagement_inserteventpic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geteventpics">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/geteventpics" message="tns:IDatamanagement_geteventpics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/geteventpicsResponse" message="tns:IDatamanagement_geteventpics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geteventfirstpics">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/geteventfirstpics" message="tns:IDatamanagement_geteventfirstpics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/geteventfirstpicsResponse" message="tns:IDatamanagement_geteventfirstpics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertpicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertpicture" message="tns:IDatamanagement_insertpicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertpictureResponse" message="tns:IDatamanagement_insertpicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletepicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deletepicture" message="tns:IDatamanagement_deletepicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletepictureResponse" message="tns:IDatamanagement_deletepicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteallpictures">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteallpictures" message="tns:IDatamanagement_deleteallpictures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteallpicturesResponse" message="tns:IDatamanagement_deleteallpictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getalluserpictures">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getalluserpictures" message="tns:IDatamanagement_getalluserpictures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getalluserpicturesResponse" message="tns:IDatamanagement_getalluserpictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getpic">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getpic" message="tns:IDatamanagement_getpic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getpicResponse" message="tns:IDatamanagement_getpic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatepic">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updatepic" message="tns:IDatamanagement_updatepic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updatepicResponse" message="tns:IDatamanagement_updatepic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getfewpics">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getfewpics" message="tns:IDatamanagement_getfewpics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getfewpicsResponse" message="tns:IDatamanagement_getfewpics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertsechedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertsechedule" message="tns:IDatamanagement_insertsechedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertsecheduleResponse" message="tns:IDatamanagement_insertsechedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteschedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteschedule" message="tns:IDatamanagement_deleteschedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletescheduleResponse" message="tns:IDatamanagement_deleteschedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateschedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updateschedule" message="tns:IDatamanagement_updateschedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updatescheduleResponse" message="tns:IDatamanagement_updateschedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getskills">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getskills" message="tns:IDatamanagement_getskills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getskillsResponse" message="tns:IDatamanagement_getskills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getassignedprojects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getassignedprojects" message="tns:IDatamanagement_getassignedprojects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getassignedprojectsResponse" message="tns:IDatamanagement_getassignedprojects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojectdetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojectdetails" message="tns:IDatamanagement_getprojectdetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojectdetailsResponse" message="tns:IDatamanagement_getprojectdetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojects" message="tns:IDatamanagement_getprojects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojectsResponse" message="tns:IDatamanagement_getprojects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createproject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/createproject" message="tns:IDatamanagement_createproject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/createprojectResponse" message="tns:IDatamanagement_createproject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateproject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updateproject" message="tns:IDatamanagement_updateproject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updateprojectResponse" message="tns:IDatamanagement_updateproject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteproject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteproject" message="tns:IDatamanagement_deleteproject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteprojectResponse" message="tns:IDatamanagement_deleteproject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getassignedissues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getassignedissues" message="tns:IDatamanagement_getassignedissues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getassignedissuesResponse" message="tns:IDatamanagement_getassignedissues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getissues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getissues" message="tns:IDatamanagement_getissues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getissuesResponse" message="tns:IDatamanagement_getissues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojissues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojissues" message="tns:IDatamanagement_getprojissues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojissuesResponse" message="tns:IDatamanagement_getprojissues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getissuedetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getissuedetails" message="tns:IDatamanagement_getissuedetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getissuedetailsResponse" message="tns:IDatamanagement_getissuedetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createissue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/createissue" message="tns:IDatamanagement_createissue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/createissueResponse" message="tns:IDatamanagement_createissue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateissue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updateissue" message="tns:IDatamanagement_updateissue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updateissueResponse" message="tns:IDatamanagement_updateissue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteissue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteissue" message="tns:IDatamanagement_deleteissue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteissueResponse" message="tns:IDatamanagement_deleteissue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteprojissues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteprojissues" message="tns:IDatamanagement_deleteprojissues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteprojissuesResponse" message="tns:IDatamanagement_deleteprojissues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addprojteam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/addprojteam" message="tns:IDatamanagement_addprojteam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/addprojteamResponse" message="tns:IDatamanagement_addprojteam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteprojteam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteprojteam" message="tns:IDatamanagement_deleteprojteam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteprojteamResponse" message="tns:IDatamanagement_deleteprojteam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteassiguserfromteam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteassiguserfromteam" message="tns:IDatamanagement_deleteassiguserfromteam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteassiguserfromteamResponse" message="tns:IDatamanagement_deleteassiguserfromteam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojectmembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojectmembers" message="tns:IDatamanagement_getprojectmembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojectmembersResponse" message="tns:IDatamanagement_getprojectmembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addissteam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/addissteam" message="tns:IDatamanagement_addissteam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/addissteamResponse" message="tns:IDatamanagement_addissteam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteissteam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteissteam" message="tns:IDatamanagement_deleteissteam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteissteamResponse" message="tns:IDatamanagement_deleteissteam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteassiguserformissue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteassiguserformissue" message="tns:IDatamanagement_deleteassiguserformissue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteassiguserformissueResponse" message="tns:IDatamanagement_deleteassiguserformissue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getissuemembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getissuemembers" message="tns:IDatamanagement_getissuemembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getissuemembersResponse" message="tns:IDatamanagement_getissuemembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojnotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojnotification" message="tns:IDatamanagement_getprojnotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojnotificationResponse" message="tns:IDatamanagement_getprojnotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertprojectnotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertprojectnotifications" message="tns:IDatamanagement_insertprojectnotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertprojectnotificationsResponse" message="tns:IDatamanagement_insertprojectnotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteporjnotificaiton">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteporjnotificaiton" message="tns:IDatamanagement_deleteporjnotificaiton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteporjnotificaitonResponse" message="tns:IDatamanagement_deleteporjnotificaiton_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteallprojnotificaion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteallprojnotificaion" message="tns:IDatamanagement_deleteallprojnotificaion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteallprojnotificaionResponse" message="tns:IDatamanagement_deleteallprojnotificaion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getissuenotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getissuenotifications" message="tns:IDatamanagement_getissuenotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getissuenotificationsResponse" message="tns:IDatamanagement_getissuenotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteissuenotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteissuenotification" message="tns:IDatamanagement_deleteissuenotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteissuenotificationResponse" message="tns:IDatamanagement_deleteissuenotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertissuenotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertissuenotifications" message="tns:IDatamanagement_insertissuenotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertissuenotificationsResponse" message="tns:IDatamanagement_insertissuenotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getuserinformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getuserinformation" message="tns:IDatamanagement_getuserinformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getuserinformationResponse" message="tns:IDatamanagement_getuserinformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprojectleaderinformaion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getprojectleaderinformaion" message="tns:IDatamanagement_getprojectleaderinformaion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getprojectleaderinformaionResponse" message="tns:IDatamanagement_getprojectleaderinformaion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getspecificuserinformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getspecificuserinformation" message="tns:IDatamanagement_getspecificuserinformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getspecificuserinformationResponse" message="tns:IDatamanagement_getspecificuserinformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmeetinginfromations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getmeetinginfromations" message="tns:IDatamanagement_getmeetinginfromations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getmeetinginfromationsResponse" message="tns:IDatamanagement_getmeetinginfromations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletemeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deletemeeting" message="tns:IDatamanagement_deletemeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletemeetingResponse" message="tns:IDatamanagement_deletemeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertmeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertmeeting" message="tns:IDatamanagement_insertmeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertmeetingResponse" message="tns:IDatamanagement_insertmeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertmeetingmember">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertmeetingmember" message="tns:IDatamanagement_insertmeetingmember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertmeetingmemberResponse" message="tns:IDatamanagement_insertmeetingmember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatemetinglink">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updatemetinglink" message="tns:IDatamanagement_updatemetinglink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updatemetinglinkResponse" message="tns:IDatamanagement_updatemetinglink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatemeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/updatemeeting" message="tns:IDatamanagement_updatemeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/updatemeetingResponse" message="tns:IDatamanagement_updatemeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletemeetingmembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deletemeetingmembers" message="tns:IDatamanagement_deletemeetingmembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletemeetingmembersResponse" message="tns:IDatamanagement_deletemeetingmembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletespecificmember">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deletespecificmember" message="tns:IDatamanagement_deletespecificmember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deletespecificmemberResponse" message="tns:IDatamanagement_deletespecificmember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertissflag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/insertissflag" message="tns:IDatamanagement_insertissflag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/insertissflagResponse" message="tns:IDatamanagement_insertissflag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getissueflags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getissueflags" message="tns:IDatamanagement_getissueflags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getissueflagsResponse" message="tns:IDatamanagement_getissueflags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteissflag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/deleteissflag" message="tns:IDatamanagement_deleteissflag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/deleteissflagResponse" message="tns:IDatamanagement_deleteissflag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getspecificissflag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatamanagement/getspecificissflag" message="tns:IDatamanagement_getspecificissflag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatamanagement/getspecificissflagResponse" message="tns:IDatamanagement_getspecificissflag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatamanagement" type="tns:IDatamanagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inserttask">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/inserttask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetask">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deletetask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettaskcat">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/gettaskcat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettask">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/gettask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetask">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updatetask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checktasks">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/checktasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettaskids">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/gettaskids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertevent">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertevent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateevent">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updateevent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkevents">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/checkevents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteevent">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteevent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getevent">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getevent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteeventpics">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteeventpics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geteventids">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/geteventids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserteventpic">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/inserteventpic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geteventpics">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/geteventpics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geteventfirstpics">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/geteventfirstpics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertpicture">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertpicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletepicture">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deletepicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteallpictures">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteallpictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getalluserpictures">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getalluserpictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpic">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getpic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatepic">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updatepic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfewpics">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getfewpics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertsechedule">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertsechedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteschedule">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteschedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateschedule">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updateschedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getskills">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getskills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getassignedprojects">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getassignedprojects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojectdetails">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojectdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojects">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createproject">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/createproject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateproject">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updateproject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteproject">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteproject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getassignedissues">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getassignedissues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getissues">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getissues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojissues">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojissues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getissuedetails">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getissuedetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createissue">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/createissue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateissue">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updateissue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteissue">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteissue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteprojissues">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteprojissues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addprojteam">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/addprojteam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteprojteam">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteprojteam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteassiguserfromteam">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteassiguserfromteam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojectmembers">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojectmembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addissteam">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/addissteam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteissteam">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteissteam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteassiguserformissue">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteassiguserformissue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getissuemembers">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getissuemembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojnotification">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojnotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertprojectnotifications">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertprojectnotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteporjnotificaiton">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteporjnotificaiton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteallprojnotificaion">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteallprojnotificaion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getissuenotifications">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getissuenotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteissuenotification">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteissuenotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertissuenotifications">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertissuenotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getuserinformation">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getuserinformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprojectleaderinformaion">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getprojectleaderinformaion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getspecificuserinformation">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getspecificuserinformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmeetinginfromations">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getmeetinginfromations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletemeeting">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deletemeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertmeeting">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertmeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertmeetingmember">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertmeetingmember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatemetinglink">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updatemetinglink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatemeeting">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/updatemeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletemeetingmembers">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deletemeetingmembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletespecificmember">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deletespecificmember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertissflag">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/insertissflag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getissueflags">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getissueflags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteissflag">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/deleteissflag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getspecificissflag">
      <soap:operation soapAction="http://tempuri.org/IDatamanagement/getspecificissflag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Datamanagement">
    <wsdl:port name="BasicHttpBinding_IDatamanagement" binding="tns:BasicHttpBinding_IDatamanagement">
      <soap:address location="http://localhost:19036/Datamanagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>